{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Olá!</h1>
    <p>
        <h2>
            Bem vindo a nossa loja de Produtos Eletronicos.
        </h2>
    </p>
    <p>
        <h2>
            Aqui voce encontrara todos os tipos de smartphones, fones de ouvido, carregadores, power-bank, computadores,
            relogios, televisores, monitores, etc.

            Confira os nossos produtos, porque comprar com a gente é qualidade garantida!
        </h2>
    </p>
</div>

{% endblock content %}